main {
  padding: 5vh;
}

img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 30vh;
}

.niv {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: table;
}

.name{
    font-family: BelweBold;
    color: #424242;
    font-size: 6vh;
}

.email{
    margin-top: 6px;
    margin-bottom: 20px;
    font-family: BelweLight;
}