<div>
    <ion-slides pager="true">
        <ion-slide>

            <div>
                <img class="slides-image" src="assets/image/banner.png">
            </div>
            <div class="slides-text">
                App for viewing and storing your favorite Hearthstone cards.
            </div>
            <div class="slides-text first">
                Welcome!
            </div>
            <ion-button shape="round" color="primary" (click)="goNext()">Next</ion-button>

        </ion-slide>
        <ion-slide>

            <div>
                <img class="slides-image" src="assets/image/slide1.png">
            </div>
            <div class="slides-text">
                Browse trough all existing decks and <br> all expansions.
            </div>
            <ion-button shape="round" color="primary" (click)="goNext()">Next</ion-button>

        </ion-slide>

        <ion-slide>

            <div>
                <img class="slides-image" src="assets/image/slide2.png">
            </div>
            <div class="slides-text">
                Check the stats, and <br> save your favorite <br> cards in the stash.
            </div>
            <ion-button shape="round" color="primary" (click)="goNext()">Next</ion-button>

        </ion-slide>

        <ion-slide>
            <div>
                <img class="slides-image" src="assets/image/avatar.png">
            </div>
            <div class="slides-text">
                To proceed to use <br> the app you will have <br> to login or register.
            </div>
            <ion-button shape="round" color="primary" (click)="goAndStore()">Lets go!</ion-button>
        </ion-slide>

    </ion-slides>

</div>