ion-tabs{
    --ion-tabbar-text-color-active: white !important;
    --ion-tabbar-text-color: #B88121 !important;
    --ion-tabbar-background-color: #2E2B17 !important; 
    --ion-tabbar-background-color-focused: #2E2B17 !important;
}
