// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/colors.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.toast-error {
  > div {
    background-color: #f53d3d !important;
  }

  .toast-message {
    color: white !important;
  }
}

@font-face {
  font-family: BelweBold;
  src: url(./assets/fonts/BelweBoldBT.ttf);
}

@font-face {
  font-family: BelweLight;
  src: url(./assets/fonts/BelweLightBT.ttf);
}

ion-toolbar {
  font-family: BelweBold;
}

ion-popover {
  div.popover-content {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}

ion-alert{
  div.alert-wrapper.sc-ion-alert-ios{
    --width: 220px;
    --min-width: 220px;
  }
}